<a href="https://colab.research.google.com/github/337ubaid/AnalisisDataDicoding/blob/main/Proyek_Analisis_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Proyek Analisis Data: Bike-sharing-dataset
- **Nama:** Muhammad Ubaidillah
- **Email:** devvevan@student.ub.ac.id
- **ID Dicoding:** beyubey

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1
- Pertanyaan 2

## Import Semua Packages/Library yang Digunakan

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [7]:
day_df = pd.read_csv('data/day.csv')

day_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [8]:
hour_df = pd.read_csv('data/hour.csv')
hour_df.sample(5)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
4533,4534,2011-07-12,3,0,7,19,0,2,1,1,0.84,0.7576,0.44,0.2836,42,295,337
14793,14794,2012-09-13,3,1,9,14,0,4,1,1,0.72,0.6515,0.39,0.1343,60,214,274
5053,5054,2011-08-03,3,0,8,11,0,3,1,2,0.74,0.6818,0.58,0.1045,29,93,122
15402,15403,2012-10-08,4,1,10,23,1,1,0,2,0.40,0.4091,0.71,0.2239,9,60,69
7911,7912,2011-12-01,4,0,12,7,0,4,1,1,0.24,0.2121,0.65,0.3582,11,265,276

### Assessing Data

### Cleaning Data

## Exploratory Data Analysis (EDA)

### Explore ...

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2